# Prerequisites
Store/*.d

# Compiled Object files
Store/*.slo
Store/*.lo
Store/*.o
Store/*.obj

# Precompiled Headers
Store/*.gch
Store/*.pch

# Compiled Dynamic libraries
Store/*.so
Store/*.dylib
Store/*.dll

# Fortran module files
Store/*.mod
Store/*.smod

# Compiled Static libraries
Store/*.lai
Store/*.la
Store/*.a
Store/*.lib

# Executables
Store/*.exe
Store/*.out
Store/*.app
